rules_version = '2';

service cloud.firestore {
    match /databases/{database}/documents {
        function checkRequestTokenTrue() {
            return request.auth.token.changer == true || request.auth.token.admin == true;
        }

        match /blockchain/{blockId} {
            allow read: if true;
        }

        match /profit/{profitId} {
            allow read: if request.auth.token.admin == true;
        }

        match /dead_sick/{deadSickId} {
            allow create, read, delete: if request.auth.token.admin == true;
        }

        match /chicken_details/{chickenId} {
            allow read, update: if checkRequestTokenTrue();
        }

        match /borrow/{borrowId} {
            allow read: if checkRequestTokenTrue();
        }

        match /bags/{bagId} {
            allow read: if checkRequestTokenTrue();
        }

        match /trays/{trayId} {
            allow read, write: if checkRequestTokenTrue();
        }

        match /current/{currentId} {
            allow read: if checkRequestTokenTrue();
        }

        match /user_logs/{userLogId} {
            allow read, write: if false;
            match /logs/{logId} {
                allow read, write: if false;
            }
        }

        match /purchases/{buyId} {
            allow read: if checkRequestTokenTrue();
        }

        match /late_payment/{lateId} {
            allow create, read, delete: if checkRequestTokenTrue();
        }

        match /notify_token/{tokenId} {
            allow create, read, update: if checkRequestTokenTrue();
            match /tokens/{my_token} {
                allow create, read, update: if checkRequestTokenTrue() &&
                !exists(/databases/$(database)/documents/notifyToken/$(tokenId)/tokens/$(my_token));
            }
        }

        match /sales/{saleId} {
            allow read: if checkRequestTokenTrue();
        }

        match /eggs_collected/{eggId} {
            allow read, write: if checkRequestTokenTrue();
        }

        match /notifications/{notifyId} {
            allow read: if checkRequestTokenTrue();
        }

        match /pending_transactions/{rollId} {
            allow create, read, delete: if checkRequestTokenTrue();
        }
         match /predict_week/{predictId} {
            allow read: if request.auth.token.admin == true;
        }
				match /to_be_deleted/{deleteId} {
            allow create: if checkRequestTokenTrue();
        }
    }
}
